
.h1{
    font-family: sans-serif;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
    max-width: 1100px;
    position:relative;
    }
.h1:before{
    content: "";
    display:block;
    width: 344px;
    height:2px;
    background: rgb(45, 125, 190);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    }
.h1:after{
    content: "";
    display:block;
    width: 344px;
    height:2px;
    background: rgb(45, 125, 190);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    }
.span{
    background: #fff
    }